<!DOCTYPE html>
<html lang="en">

<head>

    <title>Live Segmentation Demonstration</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- ajax -->      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- css -->      
    <link type="text/css" rel = "stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- favaicon icon -->      
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>
    
</head>

<body>

<div class="segmentation_container">
    <div class="row row_1">

        <!-- <div class="col-lg-8  offset-lg-2"> -->
        <div class="col-5 col_1">

            <h3 class="mt-5">Static Segmentation</h3>
            <img src="{{ url_for('single_image') }}" width="100%">

        </div>

        <!-- <div class="width-100"></div> -->
        <div class="col-2"> </div>


        <div class="sliders col-5 col_2 ">

            <div class="row">

                <div class="col-4">
                    <label for="output_hue_lower" class="slider_label "> Hue lower: </label><br>
                    <label for="output_saturation_lower" class="slider_label "> Saturation lower: </label><br>
                    <label for="output_value_lower" class="slider_label "> Value lower: </label><br>
                    <label for="output_hue_higher" class="slider_label "> Hue higher: </label><br>
                    <label for="output_saturation_higher" class="slider_label "> Saturation higher: </label><br>
                    <label for="output_value_higher" class="slider_label "> Value higher: </label><br>
                </div>

                <div class="col-8 ">
                    <span id="output_hue_lower" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="hue_lower"/> <br>


                    <span id="output_saturation_lower" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="saturation_lower"/> <br>


                    <span id="output_value_lower" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="0" class="slider" id="value_lower"/> <br>
                    

                    <span id="output_hue_higher" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="255" class="slider" id="hue_higher"/> <br>


                    <span id="output_saturation_higher" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="255" class="slider" id="saturation_higher"/> <br>


                    <span id="output_value_higher" class="slider_output"></span>
                    <input type="range" min="0" max="255" value="255" class="slider" id="value_higher"/> <br>
                </div>

            </div>

            
            <div class="row"></div>

            <div class="row">
                <div class="col">
                    <input type="button" value="Predict_segmented" id="predict_button" onclick= "window.location.href = '{{ url_for('get_pred_seg_2')}}'">
                </div>
            </div>

            <div class="row"></div>
            <div class="row"></div>
            
        </div>     

    </div>
</div>

<script type="text/javascript" src = "{{ url_for('static',filename='main.js') }}"></script>

</body>
</html>
